<a href="https://colab.research.google.com/github/shalynbarrios/Python-Notebook-from-NeetCode/blob/main/lesson66_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lesson 66 is on tuples! Last lesson relating to lists.**

They are like lists but they are immutable. Once it is created, it cannot be changes. We can create a tuple with () instead of []

In [ ]:
my_tuple = (4,5,6)

print(my_tuple)

(4, 5, 6)

In [ ]:
my_tuple = (4,5,6)

print(my_tuple[0])

4

In [ ]:
my_tuple = (4,5,6)

print(my_tuple[1:])

(5, 6)

In [ ]:
my_tuple = (4,5,6)

my_tuple[0] = 1

# this raises an eroror because we cannot change the element at the index
# so we also cannot append or pop an element b/c that would change it

In [ ]:
my_tuple = (4,5,6)

print(max(my_tuple))
print(min(my_tuple))
print(sum(my_tuple))

6
4
15

In [ ]:
from typing import Tuple

def create_pair(name:str, age: int) -> Tuple[str, int]:
  empty_tuple = (name, age)
  return empty_tuple

print(create_pair("Alice", 25))

('Alice', 25)

In [ ]:
from typing import Tuple

def create_pair(name:str, age: int) -> Tuple[str, int]:
  return (name, age)

print(create_pair("Alice", 25))

# this also works