<a href="https://colab.research.google.com/github/shalynbarrios/Python-Notebook-from-NeetCode/blob/main/lesson68_setoperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lesson 68 is on set operations**

Remember, a set is:
1. unordered
2. mutable
3. only unique elements

In [ ]:
my_set = {1, 2, 3}

my_set.remove(2) # this is like pop (removes the element)

print(my_set)

# my_set.remove(4) this is an error

# so here, instead of pop or append, it's .remove and .add

{1, 3}

In [ ]:
# just like with lists, we can use the in keyword

my_set = {"cat","dog","mouse"}

contains_cat = "cat" in my_set

print(contains_cat)

True

In [ ]:
# or not in


my_set = {"cat","dog","mouse"}

contains_cat = "cat" not in my_set

print(contains_cat)

False

In [ ]:
# remember, this is how to create an empty set

my_set = set()

for i in range(5):
  my_set.add(i)

print(my_set)

{0, 1, 2, 3, 4}

In [ ]:
my_set = set()

for i in range(5):
  my_set.add(1)

print(my_set)

# notice how the previous for loop returns {0, 1, 2, 3, 4}
# this one is just 1, because the duplicates are not allowed in a set

{1}

In [ ]:
# we can convert a list to a set
from typing import List

def count_unique_words(words: List[str]) -> set():
  my_set = set()
  for word in words:
    my_set.add(word)
  return len(my_set)


print(count_unique_words(["cat","dog","mouse","cat"]))
print(count_unique_words(["cat","dog","mouse","cat","lion"]))

3
4

In [ ]:
# we can also do this
from typing import List

def count_unique_words(words: List[str]) -> set():
  my_set = set(words)
  return len(my_set)


print(count_unique_words(["cat","dog","mouse","cat"]))
print(count_unique_words(["cat","dog","mouse","cat","lion"]))

3
4

**Here is some set practice (Lesson 69)**

Create a function where we return True if there are duplicate strings

In [ ]:
from typing import List

def check_duplicates(my_list: List[str]) -> bool:
  my_set = set(my_list)
  return len(my_set) < len(my_list)

check_duplicates(["hey","hi","hello","hi"])

True

In [ ]:
# this code, though a little less elegant, also works!

from typing import List

def check_duplicates(my_list: List[str]) -> bool:
  my_set = set()
  for word in my_list:
    if word in my_set:
      return True
    my_set.add(word)
  return False

check_duplicates(["hey","hi","hello","hi"])

True