<a href="https://colab.research.google.com/github/shalynbarrios/Python-Notebook-from-NeetCode/blob/main/lesson46_nestedloops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lesson 46 is on Nested Loops

In [ ]:
for i in range(1,4):
  for j in range(1,4): # this is a nested loop
    # so this for loop with run 3 times. since it was done after 3
    # it re-ran when i = 2
    # and then re-ran the for j loop
    print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
for x in range(3,6):
  for y in range(3,6):
    print(x,y)

3 3
3 4
3 5
4 3
4 4
4 5
5 3
5 4
5 5

Here are some practice problems,

**Problem 1: Print Numbers from 1 to 10**

Write a for loop to print the numbers from 1 to 10 (inclusive).

In [ ]:
for x in range(11):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

**Problem 2: Sum of Even Numbers**

Write a for loop that calculates the sum of all even numbers from 1 to 50.

In [ ]:
sum = 0
for y in range(51):
  if y % 2 == 0:
    sum += y

print(sum)

650

**Problem 3: Multiplication Table**

Write a for loop to print the multiplication table for the number 5 (from 5 x 1 to 5 x 10).

In [ ]:
n = 5
for z in range(1, 11):
  print(n, "*", z, "=", n*z)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**Problem: Multiplication Table for Numbers 1 to 5**

Write a nested loop that prints the multiplication table for the numbers 1 to 5.

In [ ]:
for x in range(1,6):
  for g in range(1,6):
    print(x, "*", g, "=", g*x, end="\t")
  print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25

In [ ]:
for i in range(1, 5):
  for j in range(1, i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

Here's a key difference!

In [ ]:
# example with range

for x in range(1,7):
  print(x)

# example with list

colors = ["white", "orange", "green", "red", "blue", "yellow"]

for color in colors:
    print(color)

1
2
3
4
5
6
white
orange
green
red
blue
yellow

In [ ]:
x = ["white", "orange", "green", "red", "blue", "yellow"]
y = ["white", "orange", "green", "red", "blue", "yellow"]
for colorx in x:
  for colory in y:
    print(colorx, colory)
  print(" ")

white white
white orange
white green
white red
white blue
white yellow

orange white
orange orange
orange green
orange red
orange blue
orange yellow

green white
green orange
green green
green red
green blue
green yellow

red white
red orange
red green
red red
red blue
red yellow

blue white
blue orange
blue green
blue red
blue blue
blue yellow

yellow white
yellow orange
yellow green
yellow red
yellow blue
yellow yellow