<a href="https://colab.research.google.com/github/shalynbarrios/Python-Notebook-from-NeetCode/blob/main/lesson45_forloops_reverse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lesson 45 is on For Loops Reverse

In [ ]:
i = 10
while i > 0:
  print(i)
  i -= 1

for i in range(10,0,-1):
  print(i)

# prints from 10 to 1 with stepping stones of -1

10
9
8
7
6
5
4
3
2
1
10
9
8
7
6
5
4
3
2
1

In [ ]:
# using a for loop print the numbers between 20 through 10
for n in range(20, 9, -1):
  print(n)

20
19
18
17
16
15
14
13
12
11
10

In [ ]:
# we can also shortcut/shorthand reversing!!

for i in range(10):
  print(i)
  # this will go from 0 to 9

for n in reversed(range(10)):
  print(n)
  # this will go from 9 to 0

0
1
2
3
4
5
6
7
8
9
9
8
7
6
5
4
3
2
1
0

In [ ]:
for i in reversed(range(21)):
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# here are a series of challenges!

**Pattern A: Basic Ascending**

Print the numbers from 1 to 20, skipping every 2 numbers (i.e., stepping by 3).
Output: 1 4 7 10 13 16 19

In [ ]:
for x in range(1, 22, 3):
  print(x)

1
4
7
10
13
16
19

**Pattern B: Reversed Sequence**

Print the numbers from 30 to 10 in reverse order, stepping by 5.
Output: 30 25 20 15 10

In [ ]:
for y in reversed(range(30, 9, -5)):
  print(y)

10
15
20
25
30

**Pattern C: Pyramid of Stars**

Use a for loop to create the following pattern:
markdown
"*
"***
"*****
"*******
"*********
Each row should have an odd number of stars, up to 9 stars.

In [ ]:
for stars in range(1, 11, 2):
  print("*" * stars)

*
***
*****
*******
*********

**Pattern D: Sum of Squares**

Calculate the sum of squares for numbers from 1 to 10 using a for loop.
Output: The sum of squares is: 385

In [ ]:
sum = 0
for t in range(1, 11, 1):
  sum += t*t

print(sum)

385

**Bonus Challenge:**

Write a single loop that prints numbers from 1 to 50. If the number is divisible by 3, print "Fizz." If divisible by 5, print "Buzz." If divisible by both, print "FizzBuzz." Otherwise, print the number.

In [ ]:
for x in range(1, 51):
  if x % 5 == 0 and x % 3 == 0:
    print("FizzBuzz")
  elif x % 5 == 0:
    print("Buzz")
  elif x % 3 == 0:
    print("Fizz")

# for x in range(1, 51):
#   ....
#   elif x % 5 == 0 and x % 3 == 0: order matters, so this at the end didnt work
#     print("FizzBuzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz